@page "/"
@model Chirp.Web.Pages.PublicModel

@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<h2> Public Timeline </h2>
    
@await Component.InvokeAsync("Timeline", new {model = this.Model})